@import "tailwindcss";

:root {
  --primary: #00588F;
  --secondary: #C06428;

  --background: #EAEFF3;
  --surface: #FFFFFF;

  --text: #2E3644;
  --text-muted: #696969;

  --border: #D9E1EA;

  --teal: #A2D4CC;
  --teal-hover: #7FC4B9;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}