@import "tailwindcss";

:root{
  --primary:#00588F;
  --primary-dark:#004976;

  --accent:#C06428;

  --bg:#FFFFFF;
  --bg-light:#E8ECF1;

  --text:#1C2F47;
  --text-light:#9299A0;

  --border:#D8D8D8;

  --pill:#D9E1EA;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}